.form {
  display: flex;
  align-items: center;

  & > * {
    font-size: 1.6rem;
  }

  &__search {
    font-family: $font-primary;
    background-color: $color-white;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    border-right: 1px solid $color-grey;
    border-radius: 3rem 0 0 3rem;
  }

  &__date {
    width: 17rem;
    font-family: $font-primary;
    background-color: $color-white;
    color: $color-grey;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 0 3rem 3rem 0;
    outline: none;
  }

  &__submit {
    color: $color-white;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid $color-white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: lighten($color-primary, 5%);
    }
  }
}
