.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 1.5rem 0;

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-family: $font-secondary;
    flex: 0 0 25%;
  }
}
