.tasks {
  flex: 0 0 75%;
  min-height: 100vh;
  padding: 5rem 4rem;
  background-color: $color-white;

  @media (max-width: 900px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__heading {
    margin-right: auto;
  }

  &__sort {
    display: inline-block;
    color: #777;
    border-bottom: 1px solid currentColor;
    font-size: 1.4rem;
    margin-right: 5rem;
    text-decoration: none;

    @media (max-width: 900px) {
      margin-right: 2rem;
    }

    &:hover {
      color: #000;
    }
  }

  &__search {
    font-size: 1.4rem;
    padding: .5rem 1rem;
    outline: none;
    border: 2px solid lightgrey;
  }

  &__list {
    list-style: none;
    font-size: 1.6rem;
    padding: 2rem;

    @media (max-width: 900px) {
      padding: 2rem 0;
    }
  }

  &__task {
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;

    padding: 1rem;
    border-bottom: 1px solid #ccc;

    &:hover .tasks__delete {
      visibility: visible;
    }

    &:hover .tasks__priority {
      display: block;
    }

    .fas {
      color: $color-primary;
      display: block;
    }
  }

  &__faded {
    color: $color-grey;
  }

  &__priority {
    display: none;

    margin-right: 5rem;
    color: $color-grey;

    @media (max-width: 900px) {
      margin-right: 1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    margin-right: 2rem;

    font-size: 1.8rem;


    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    margin-right: auto;
  }

  &__date {
    text-align: center;
    width: 7rem;
    font-size: 1.4rem;
    margin-right: 5rem;

    @media (max-width: 900px) {
      margin-right: 1rem;
    }
  }

  &__delete {
    visibility: hidden;

    color: #f56a6a;
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }
}
